body {
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: max-content;
}

.principal {
  display: flex;
  justify-content: center;
  height: auto;
  border: solid green 1px;
  overflow: hidden;
  min-height: 70vh
}

.shelf {
  width: 85%;
  margin: 15px 15px 15px 5px;
  border: none;
  box-shadow: 0px 0px 40px -24px;
  background-color: white;
  opacity: 0.9;
  overflow-y: scroll;
  overflow-x: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#details {
  letter-spacing: 2px;
  color: white;
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 2px;
  background-color: #2de233;
  margin: 4px 0px;
}

#details:hover {
  cursor: pointer;
}

/* header */
.header {
  width: 100%;
  height: 11rem;
  color: white;
}

.header--cabecera {
  background-color: rgba(0, 0, 0, 0.8);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cabecera--logo>h1>a {
  text-decoration: none;
  font-size: 3em;
  margin: 0px 0px 0px 30px;
  color: #2de233;
  letter-spacing: 4px;
}

.header__cabecera--logo>p {
  letter-spacing: 3px;
  margin: 0px 0px 0px 30px;
}

.header__cabecera--contact {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 0px;
  text-align: center;
}

.header__cabecera--name {
  margin: 4px 0px;
  letter-spacing: 2px;
  margin: 0;
}

.header__cabecera--name>p {
  margin: 0;
}

.header__cabecera__contact--whatsapp {
  margin: 4px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cabecera__contact--whatsapp>p {
  letter-spacing: 1px;
  color: #2de233;
  margin: 0;
}

.header__cabecera__contact--email {
  margin: 4px 0px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__cabecera__contact--email>p {
  color: #2de233;
  margin: 0;
}

.menu {
  margin: 0;
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.menu>li>a {
  margin: 0px 20px;
  text-decoration: none;
  color: white;
}

.menu>li {
  margin: 0px 20px;
  text-decoration: none;
  color: white;
  /* position: absolute; */
}

.menu>li:hover {
  border-top: #2de233 solid 1px;
  border-bottom: #2de233 solid 1px;
}


/* Estilos del submenú */
.submenu {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: none;
  position: absolute;
  left: 0;
  background-color: black;
}

.submenu>li>a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

/* Mostrar el submenú al pasar el ratón sobre el elemento principal */
.menu>li:hover>.submenu {
  display: block;
}

.submenu>li>a:hover{
  color: #2de233;
}

/* footer */
.footer {
  color: white;
  width: 100%;
  height: max-content;
  background-color: black;
  padding: 1%;
}

/* ¿Hay personal? */
:root {
  --color-green: #00a878;
  --color-red: #fe5e41;
  --color-button: #fdffff;
  --color-black: #000;
}
.switch-button {
  display: inline-block;
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: var(--color-red);
  width: 5rem;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  transition: .2s;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-button);
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(2rem);
}

/* Humedad */
.chart-container {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.bar {
  width: 80px;
  background-color: #4caf50;
  margin: 0 10px;
  border-radius: 5px;
  transition: height 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.value {
  position: absolute;
  bottom: 20px;
  font-weight: bold;
  color: #333;
}